// Merge the color maps
$theme-colors: map-merge($theme-colors, $custom-colors);

/* general styles */
$link-color:                              $gray-200;
$link-decoration:                         underline;
$link-shade-percentage:                   20%;
$link-hover-color:                        $primary;

// /* alerts */
// // scss-docs-start alert-variables
// $alert-padding-y:               $spacer;
// $alert-padding-x:               $spacer;
// $alert-margin-bottom:           1rem;
// $alert-border-radius:           $border-radius;
// $alert-link-font-weight:        $font-weight-bold;
// $alert-border-width:            $border-width;
// $alert-bg-scale:                -40%;
// $alert-border-scale:            -30%;
// $alert-color-scale:             60%;
// $alert-dismissible-padding-r:   $alert-padding-x * 3; // 3x covers width of x plus default padding on either side
// // scss-docs-end alert-variables
