// Colors
// now defined in bs-custom
// $primary: #51A39F;
// // $secondary: #9883E5;
// $secondary: #955E42;
// $success: #37B800;
// $info: #0075F2;
// $warning: #F9E900;
// $danger: #DD1C1A;

// define black, white, gray
$white: #fff;
$black: #000;
$gray: #7d756c; // 6c757d 7d756c

// define gray scale
$gray-100: tint-color($gray, 80%);
$gray-200: tint-color($gray, 60%);
$gray-300: tint-color($gray, 40%);
$gray-400: tint-color($gray, 20%);
$gray-500: $gray;
$gray-600: shade-color($gray, 20%);
$gray-700: shade-color($gray, 40%);
$gray-750: shade-color($gray, 50%);
$gray-800: shade-color($gray, 60%);
$gray-900: shade-color($gray, 80%);

// spaceblue is based on coolors.co 'space cadet' #212c40 which was bg color in Lester's original design
// background will be spaceblue-800
$spaceblue-100: #aebcd5;
$spaceblue-200: #93a6c8;
$spaceblue-300: #788fba;
$spaceblue-400: #5d79ac;
$spaceblue-500: #4c6594;
$spaceblue-600: #3e5379;
$spaceblue-700: #31415e;
$spaceblue-750: #2a3751;
$spaceblue-800: #212c40;
$spaceblue-850: #1c2536;
$spaceblue-900: #151c28;


// Create your own map
$custom-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// misc
$navbar-dark-color: rgba($white, 0.75);
$navbar-dark-hover-color: rgba($white, 0.9);
$navbar-dark-active-color: $white;
$navbar-dark-disabled-color: rgba($white, 0.45);
$navbar-dark-toggler-border-color: rgba($white, 0.3);
$component-active-bg: $primary;
// $custom-dropdown-menu-background: