/* continaer-fluid modifications */
.container-fluid {
  padding-right: var(--bs-gutter-x, 1rem);
  padding-left: var(--bs-gutter-x, 1rem);
  @include media-breakpoint-up(md) {
    padding-right: var(--bs-gutter-x, 2.75rem);
    padding-left: var(--bs-gutter-x, 2.75rem);
  }
  &:not(.container-lg) {
    @include media-breakpoint-up(xl) {
      padding-right: var(--bs-gutter-x, 4rem);
      padding-left: var(--bs-gutter-x, 4rem);
    }
    @include media-breakpoint-up(xxl) {
      max-width: 1400px;
    }
  }
}
.container-lg {
  @include media-breakpoint-up(xl) {
    max-width: 960px;
  }
}

/*
 * top navbar css grid layout
 */
nav#nt-out {
  display: grid !important;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: calc(4.3rem / 2) calc(4.3rem / 2) auto;
  @include media-breakpoint-up(md) {
    grid-template-rows: calc(5.3rem / 2) calc(5.3rem / 2) auto;
  }
  div.nt-brand {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    a {
      color: $gray-300;
      svg {
        height: 4.3rem;
        @include media-breakpoint-up(md) {
          height: 5.3rem;
        }
      }
    }
  }
  div#nt-burger {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    justify-items: end;
    @include media-breakpoint-up(lg) {
      display: none !important;
    }
}
  div#nt-socials {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-items: end;
    align-items: end;
    @include media-breakpoint-up(lg) {
      grid-row-start: 1;
      grid-row-end: 2;
      align-items: start;
    }
    section.widget_block {
      ul.wp-block-social-links {
        margin-bottom: 0 !important;
        li.wp-social-link {
          margin: 0 !important;
          padding: 0 !important;
          a.wp-block-social-link-anchor {
            padding: 0 0.25rem !important;
            @include media-breakpoint-up(md) {
              padding: 0 0.5rem !important;
            }
            color: $gray-300;
            &:hover {
              color: $primary;
            }
            svg {
              height: 1.1em;
              width: 1.1em;
              @include media-breakpoint-up(md) {
                height: 1.25em;
                width: 1.25em;
              }
            }
          }
          &:first-child a.wp-block-social-link-anchor {
            padding-left: 0 !important;
          }
          &:last-child a.wp-block-social-link-anchor {
            padding-right: 0 !important;
          }
        }
      }
    }
  }
  div#nt-mainmenu {
    @include media-breakpoint-down(lg) {
      display: none;
      margin: 1em 0 0 0;
      &.show, &.collapsing {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-items: center;
      }
    }
    @include media-breakpoint-up(lg) {
      display: grid;
      margin: 0 !important;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      justify-items: end;
      align-items: end;
    }
    ul#menu-navbar-main-menu {
      list-style: none;
      display: grid !important;
      grid-template-columns: 1fr;
      @include media-breakpoint-up(lg) {
        display: flex !important;
        flex-direction: row !important;
      }
      margin: 0 !important;
      padding: 0 !important;
      > li.menu-item {
        text-align: center !important;
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
        @include media-breakpoint-up(lg) {
          display: list-item;
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          padding: 0 0 0 1.5em !important;
        }
        a {
          font-weight: 700 !important;
          text-transform: uppercase !important;
          text-decoration: none !important;
          color: $gray-300;
          &:hover {
            text-decoration: none !important;
            color: $primary;
          }
          &.active {
            opacity: 0.5;
            &:hover {
              text-decoration: none !important;
              color: $gray-300;
            }
          }
          &.dropdown-toggle {
            cursor: pointer;
            div.icon.baseline {
              transform: rotate(0deg);
              transition: transform 150ms ease;
              svg {
                top: inherit;
                height: .75em;
                width: .75em;
              }
            }
            &.show {
              opacity: 0.5;
              &:hover {
                text-decoration: none !important;
              }
              div.icon.baseline {
                transform: rotate(180deg);
                transition: transform 150ms ease;
              }
            }
            &::after {
              display: none !important;
            }
          }
        }

        .dropdown-menu.dropdown-menu-dark {
          li.menu-item {
            a.dropdown-item {
              font-weight: 400 !important;
              text-transform: inherit !important;
              &:hover {
                text-decoration: none !important;
                color: $dropdown-dark-link-hover-color;
                background-color: $dropdown-dark-link-hover-bg;
              }
            }
            &.active {
              a.dropdown-item {
                color: $dropdown-dark-link-active-color;
                background-color: $dropdown-dark-link-active-bg;
              }
            }
          }
        }
      }
    }
  }
}
