/*
 * top navbar css grid layout
 */
nav#top-navbar-grid-outer {
  @extend .container-fluid;
  @extend .mt-4;
  @extend .mt-md-5;
  @extend .mb-4;
  @extend .px-3;
  @extend .px-sm-4;
  @extend .px-md-5;
  @extend .d-grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: calc(4.3rem / 2) calc(4.3rem / 2) auto;
  @include media-breakpoint-up(md) {
    grid-template-rows: calc(5.3rem / 2) calc(5.3rem / 2) auto;
  }
  // grid-auto-rows: calc(4.3rem / 2);
  div#top-navbar-grid-brand-outer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    a#top-navbar-grid-brand-link {
      color: $gray-300;
      svg.header-logo {
        height: 4.3rem;
        @include media-breakpoint-up(md) {
          height: 5.3rem;
        }
      }
    }
  }
  div#top-navbar-grid-toggle-button-outer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    justify-items: end;
    @extend .d-lg-none;
  }
  div#top-navbar-grid-socialicon-widget-outer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-items: end;
    align-items: end;
    @include media-breakpoint-up(lg) {
      grid-row-start: 1;
      grid-row-end: 2;
      align-items: start;
    }
    section.widget_block {
      ul.wp-block-social-links {
        @extend .mb-0;
        li.wp-social-link {
          @extend .mx-0;
          @extend .my-0;
          @extend .px-0;
          @extend .py-0;
          a.wp-block-social-link-anchor {
            @extend .px-1;
            @extend .px-md-2;
            @extend .py-0;
            color: $gray-300;
            &:hover {
              color: $primary;
            }
            svg {
              height: 1.1em;
              width: 1.1em;
              @include media-breakpoint-up(md) {
                height: 1.25em;
                width: 1.25em;
              }
            }
          }
          &:first-child {
            a.wp-block-social-link-anchor {
              @extend .ps-0;
            }
          }
          &:last-child {
            a.wp-block-social-link-anchor {
              @extend .pe-0;
            }
          }
        }
      }
    }
  }
  div#top-navbar-grid-main-menu-outer {
    @include media-breakpoint-down(lg) {
      display: none;
      &.show, &.collapsing {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-items: center;
      }
    }
    @include media-breakpoint-up(lg) {
      display: grid;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      justify-items: end;
      align-items: end;
    }
    ul#menu-navbar-main-menu {
      @extend .d-grid;
      grid-template-columns: 1fr;
      list-style: none;
      padding: 0;
      margin: 1em 0 0 0;
      @extend .d-lg-inline;
      @include media-breakpoint-up(lg) {
        margin: 0;
      }
      li.menu-item {
        @extend .text-center;
        @extend .py-2;
        @extend .d-lg-inline;
        @include media-breakpoint-up(lg) {
          padding: 0 0 0 1.5em !important;
        }
        a.top-navbar-grid-main-menu-item-link {
          @extend .fw-bold;
          @extend .text-uppercase;
          @extend .text-decoration-none;
          color: $gray-300;
          &:hover {
            @extend .text-decoration-underline;
            text-decoration-color: $primary !important;
            color: $gray-300;
          }
        }
        &.menu-item-has-children {
          @extend .dropdown;
          & > a.top-navbar-grid-main-menu-item-link {
            @extend .dropdown-toggle;
            cursor: pointer;
            &.shown {
              color: $primary;
              text-decoration: none !important;
              &:hover {
                text-decoration: none !important;
              }
            }
          }
          ul.sub-menu {
            display: none;
            margin: 0;
            color: $gray-300;
            list-style: none;
            min-width: 10rem;
            background-color: tint-color($spaceblue-800, 5%);
            border-radius: 0.25rem;
            font-size: 1rem;
            &.show {
              display: block;
            }
            @include media-breakpoint-down(lg) {
              position: relative;
              margin-top: 0.25em;
              padding: 0.25em 1em 0 1em;
              background-clip: border-box;
              border: 1px solid $gray-700;
              word-wrap: break-word;
            }
            @include media-breakpoint-up(lg) {
              position: absolute;
              padding: .5rem 0;
              background-clip: padding-box;
              border: 1px solid rgba(0,0,0,0.15);
              box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
              z-index: 1000;
              inset: 1.5em 0px auto auto;
              text-align: left;
              li.menu-item {
                padding: 8px 0 8px 0 !important;
                a.top-navbar-grid-main-menu-item-link {
                  text-align: left;
                  display: block;
                  width: 100%;
                  padding: .25rem 1rem 0 1rem;
                  clear: both;
                  font-weight: inherit;
                  white-space: nowrap;
                  border: 0;
                  text-decoration: none;
                }
              }
            }

          }
          // &:hover {
          //   ul.sub-menu {
          //     display: block;
          //   }
          // }
      }
      }
    }
  }
}
