// /* Hamburger settings overrides */
$hamburger-padding-x: 0 !default;
$hamburger-padding-y: 0 !default;
$hamburger-layer-color: $primary !default;

/* import hamburgers sass */
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

/* fix button styling from bootstrap */
button#btn-burger {
  -webkit-appearance: inherit;
  &:hover, &:active, &:focus {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    box-shadow: inherit;
  }
}
