@use "sass:math";

$mandala_final_opacity: 0.20;

@keyframes roll_in {
  0% {
    transform: rotate(80deg) translateY(-40vh) translateX(-30vw);
    opacity: 1.0;
  }

  100% {
    transform: rotate(0) translateY(-40vh) translateX(0px);
    opacity: $mandala_final_opacity;
  }
}

$xs_mandala_height: 170vw;
$md_mandala_height: 120vw;

.roll-mandala {
  height: $xs_mandala_height;
  max-width: inherit !important;
  position: absolute;
  right: math.div($xs_mandala_height, -2.1);
  top: 50%;
  pointer-events: none;
  z-index: -999;
  transform: translateY(-40vh);
  opacity: $mandala_final_opacity;
  animation: roll_in 1.5s cubic-bezier(0.51, 0.04, 0.68, 1.08);
}

@include media-breakpoint-up(sm) {
  .roll-mandala {
    height: $md_mandala_height;
    right: math.div($md_mandala_height, -2.1);
  }
}
